@page
@model InfoSystem.App.Pages.ShowMarket.ShowMarketModel
@{
    ViewData["Title"] = "ShowMarket";
    int counter = 1;
}

<h2>ShowMarket</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            
        <tr>
            <td scope="row">@counter</td>
            <td scope="row">@product.Name</td>
            <td scope="row">@product.Cost</td>
        </tr>
            counter++;
        }
    </tbody>
</table>